@model ShopSite.Models.MyItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddClick</title>
</head>
<body>
    <div> 
        נוסף מוצר.
    </div>
</body>
</html>
