@{
    ViewBag.Title = "StatusUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @model ShopSite.Models.MyUser
            <a href="~/Home/Master" id="logo"><img src="~images/e.gif" alt="" />התנתק</a>
            <h1>ברוך הבא</h1>
