@model ShopSite.Models.MyUser
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You arrived to the connection page</h2>
<h3>Please enter you email and password</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.EditorFor(x => x.Email)
        @Html.EditorFor(y => y.Pass)
        <input type="submit" value="Connect" />
    }
</div>